/* 
About Us CSS 
Cleland 21 Dec
Start
 */

html {
  background-image: url(../img/background.jpg);
  color: #fff;
  font-family: 'VT323', monospace;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 7rem;
  -webkit-text-stroke: 0.3vw rgb(19, 95, 48);
  text-transform: uppercase;
}

header::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: blue;
  -webkit-text-stroke: 0vw rgb(16, 117, 31);
  border-right: 2px solid rgb(124, 30, 38);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

header nav {
  padding: 40px;
  width: 600px;
  margin: auto;
  font-size: 3rem;
  letter-spacing: 3px;
  z-index: 1;
}

header nav a {
  padding: 50px;
}

h2 {
  padding: 10px;
  color: rgb(16, 117, 31);
  font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.7) contrast(1.2);
  }
}

img {
  border-radius: 75px;
  width: 300px;
  box-shadow: 0px 0px 109px -20px rgba(16, 117, 31, 0.888);
  -webkit-box-shadow: 0px 0px 109px -20px rgba(16, 117, 31, 0.88);
  -moz-box-shadow: 0px 0px 109px -20px rgba(16, 117, 31, 0.88);
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

main {
  margin-bottom: 200px;
  font-size: 2rem;
  text-align: center;

}

article {
  padding-top: 75px;
}

article p {
  padding-top: 50px;
}

/* 
About Us CSS 
Cleland 21 Dec
End
 */